@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

svg {
  width: 24px;
  height: 24px;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: oklch(0.922 0 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: oklch(0.708 0 0);
}

.app_vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

@theme {
  --font-montserrat: 'Montserrat';
}